* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(/src/img/d-home.jpg);

}

.titulos {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    gap: 10px;
    flex-direction: column;
    top: 105px;
    margin: 10px;
    color: #fff;
    font-family: Inter;
    font-size: 28px;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;


}



.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 322px;
    margin-left: 8px;
    margin-right: 0px;

}

.btn_login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 10px;


}

.btn_sign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}




button {
    width: 200px;
    height: 48px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 9px;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    background: #07012F;
    transition: 0.1s;
    box-shadow: 5px 9px 21.399999618530273px 14px rgba(255, 255, 255, 0.25);
}

button::after {
    content: '';
    width: 100%;
    height: 100%;
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.btn_login button,
.btn_sign button {
    transition: transform 0.3s ease-in-out;
}

.btn_login button:hover,
.btn_sign button:hover {
    transform: scale(1.1);
}


/* button:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    transition: 0.5s;
} */




@media screen and (max-width: 390px) {

    .btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 251px;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }


}