* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --grey: #afafb5;
    --white: #fafafb;
    --purple: #9a67ea;
    --blue-light: #d404b5;
    --blue-dark: #2a73c2;
    --green: #2c7b90;

}

body {
    overflow: hidden;
    background-image: url('../img/impo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: flex-end;
    
}

.dropdown {

    font-size: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-right: 25px;
    position: relative;
    display: inline-block;
    

}

.dropdown button {
    background: none;
    color: var(--white);
    font-size: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    position: relative;
    display: inline-block;


}

.dropdown button i {
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;

}

.dropdown-content {
    display: none;
    flex-direction: row;
    gap: 1px;
    padding: 5px;
    position: absolute;
    min-width: 50px;
    top:0;
    right: calc(100% + 1px);
}

.dropdown-content a {
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: var(--blue-light);
    opacity: calc(0.5);
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    
}


/*PERFIL*/

.perfil h1 {
    color: var(--white);
    position: relative;
    text-align: center;
    margin-bottom: 20px;

}

#fecha {
    color: var(--white);
    padding: 0px 0 5px 0px;
    position: relative;
    text-align: center;

}

.titulo_h3 {
    color: var(--white);
    margin-bottom: 10px;
    text-align: center;
}


/*SECCION DE TAREA */
.seccion-tarea {
    border-radius: 15px;
    padding: 10px;
    max-height: calc(3 * (50px + 30px));
    overflow-y: auto;

}

.additional-tasks {
    display: none;
    padding-top: 10px;
}

.seccion-tarea h3 {
    color: var(--white);
    margin-bottom: 20px;
}

.seccion-tarea li {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey);
    border-radius: 8px;
    padding: 2px;
    color: var(--white);
    margin: 5px 0;

}

.seccion-tarea i {
    color: var(--blue-light);
    font-size: 15px;
    margin: 7px;
}



.seccion-tarea i:hover {
    color: var(--purple);
    cursor: pointer;
}

.line-through {
    color: var(--blue-light);
}

.container {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
    flex-direction: column;
    align-items: stretch;
}



/*AGREGAR TAREA*/
.container_tarea {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    top: 570px;
    
    

}


.agregar-tarea {
    background-color: var(--white);
    border-radius: 8px;
    height: 33px;
    top: 746px;
    left: 35px;
    flex-direction: row-reverse;
    margin: 10px 0;
    gap: 23px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.agregar-tarea input {
    color: #d404b5;
    
    height: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    


}

.agregar-tarea input::placeholder {
    font-size: 1.1rem;
    color: var(--grey);
}

.agregar-tarea i {

    font-size: 25px;
    color: var(--grey);

}

.agregar-tarea i:hover {
    color: var(--blue-light);
    transform: scale(1.1);
    cursor: pointer;
}

.home {

    position: absolute;
    top: -1px;
    left: 40px;
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
}

.fa-arrow-left {

    padding: 10px;
    padding: 0 0 0 10px;
    margin: 0;
    font-size: 25px;
    color: var(--white);
}


.radio-input{
    display: flex;
    align-items: center;
    justify-content: center;  
    
    margin: 0 10px;
    gap: 20px;


}

.input {
    
    -webkit-appearance: none;
    margin: 6px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0, 0%, 100%, 0.15) 0 1px 1px,
        inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
    background-color: hsla(0, 0%, 0%, 0.2);
    background-repeat: no-repeat;
    -webkit-transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
        -webkit-transform 0.25s cubic-bezier(0.8, 0, 1, 1);
    outline: none;
}

.input.green {
    background-image: -webkit-radial-gradient(hsla(118, 100%, 90%, 1) 0%,
            hsla(118, 100%, 70%, 1) 15%,
            hsla(118, 100%, 60%, 0.3) 28%,
            hsla(188, 100%, 30%, 0) 70%);
}

.input.yellow {
    background-image: -webkit-radial-gradient(hsla(50, 100%, 90%, 1) 0%,
            hsla(50, 100%, 70%, 1) 15%,
            hsla(50, 100%, 60%, 0.3) 28%,
            hsla(50, 100%, 30%, 0) 70%);
}

.input.red {
    background-image: -webkit-radial-gradient(hsla(0, 100%, 90%, 1) 0%,
            hsla(0, 100%, 70%, 1) 15%,
            hsla(0, 100%, 60%, 0.3) 28%,
            hsla(0, 100%, 30%, 0) 70%);
}

.input:checked {
    -webkit-transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1),
        -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.input:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
}



.input,
.input:active {
    background-position: 24px 0;
}

.input:checked {
    background-position: 0 0;
}

.input:checked~.input,
.input:checked~.input:active {
    background-position: -24px 0;
}


@media screen and (min-width: 420px) {
    .dropdown-content {
        display: flex !important; 
        position: static; 
        min-width: auto; 
        box-shadow: none; 
        font-size: 16px;
    }

    .dropdown button i {
        
            display: none; 
        }

}





