*{
    margin: 0;
    padding: 0;
    box-sizing: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

}
body{
    background-image: image-set(url(../img/sign-up.jpg));
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}
section{
display: flex;
flex-wrap:wrap ;
height: 100vh;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 1em;

}
section h1{
    font-size: 3em;
}
section h2{
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5em;
}

section form{
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 20px;
    border: 2px solid black;

}
section form label{
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em;
}
section form input{
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 9px;
    border: none;
    outline-color: rgb(70, 70, 243);
    background-color: white;
    
}
section form input[ type='submit']{
    margin-top: 1.5em;
    background-color: blue;
    color: white;
    
}
section form input[ type='submit']:active{
    transform: scale(0.98);
}
section p{
    margin-top: 1.5em;
}
section p a{
    text-decoration: none;
    color: blue;
}

/*home*/
section button{
    background-color: blue;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 9px;
    margin-top: 1.5em;
    font-size: 1em;
}
